@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.credits {
    position: relative;
    bottom: 0;
    left: 0; 
    width: 266px;
}